@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* CSS Variables for Themes */
:root {
    --background-color: #f0f4f8;
    --container-bg: linear-gradient(135deg, #ffffff, #dbeafe);
    --container-shadow: rgba(0, 0, 0, 0.1);
    --button-bg: linear-gradient(135deg, #6ec1e4, #367fa9);
    --button-hover-bg: #285e8e;
    --text-color: #2c3e50;
    --lesson-content-bg: #ffffff;
    --lesson-content-shadow: rgba(0, 0, 0, 0.1);
    --img-border-color: #bdc3c7;
    --scrollToTopButton: rgba(41, 128, 185, 0.7);
}

body.dark-mode {
    --background-color: #121212;
    --container-bg: linear-gradient(135deg, #1f1f1f, #141414);
    --container-shadow: rgba(255, 255, 255, 0.1);
    --button-bg: linear-gradient(135deg, #3a3a3a, #2c2c2c);
    --button-hover-bg: #505050;
    --text-color: #e0e0e0;
    --lesson-content-bg: #242424;
    --lesson-content-shadow: rgba(255, 255, 255, 0.1);
    --img-border-color: #444;
    --scrollToTopButton: rgb(0, 0, 0);
}

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and general styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-y: scroll;
    background-color: var(--background-color);
    color: var(--text-color);
}

html {
    height: 100%;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--container-bg);
    background-attachment: fixed;
    box-shadow: 0 10px 30px var(--container-shadow), 0 20px 40px var(--container-shadow);
    padding: 20px;
}

/* Navbar styling */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #333;
    color: #fff;
}

/* Logo styling */
.logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

/* Navigation links styling */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #4a98f7;
}

/* Toggle button styles */
#toggleSidebarButton {
    /* position: absolute;
    left: 20px;
    top: 20px; */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: transparent;
    background-image: url("/static/icons/user-profile.png");
    background-size: cover;
    border: none;
    cursor: pointer;
    z-index: 100; /* Ensure it's above the sidebar */
}

#toggleSidebarButton:hover {
    background-color: #555;
}

/* Sidebar styles */
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px; /* Set the width of the sidebar */
    position: fixed;
    top: 0;
    left: -250px; /* Initially position the sidebar off-screen to the left */
    background-color: #333;
    overflow-x: hidden;
    transition: left 0.5s ease; /* Animate the transition */
    z-index: 1000;
    padding: 20px; /* Add padding inside the sidebar */
}



/* Account settings header styles */
.sidebar h3 {
    color: #fff;
    padding: 10px;
    font-weight: bold; /* Make the text bold */
    background-color: #444; /* Darken the background */
    border-bottom: 2px solid #555; /* Add a border below */
    margin-bottom: 20px; /* Add some margin below */
    border-radius: 5px; /* Optional: Add border radius for rounded edges */
}

/* Close button styles */
.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    color: white;
    cursor: pointer;
}

/* User info area styles */
#user-info {
    margin-top: 20px; /* Add margin above user info */
    padding: 10px; /* Add padding inside user info */
    background-color: #282828; /* Lighten the area behind profile picture */
    border-radius: 5px; /* Optional: Add border radius for rounded edges */
}

#user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px; /* Add margin below the profile picture */
}

#user-info p {
    color: #ccc; /* Lighten the text color */
    margin-bottom: 10px; /* Add margin below paragraphs */
}

#user-info button {
    margin-top: 10px; /* Add margin above the logout button */
}


.profile-pic {
    position: relative;
    width: 165px;
    height: 165px;
    border-radius: 100%;
    overflow: hidden;
}

.profile-pic input {
    display: none;
}

.profile-pic .-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.profile-pic:hover .-label {
    background-color: rgba(0, 0, 0, 0.5);
}

.profile-pic span {
    display: inline-flex;
    color: #fafafa;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.profile-pic:hover span {
    opacity: 1;
}




/* Add styles for scrollToTopButton if needed */
#scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

#scrollToTopButton:hover {
    background-color: #555;
}



/* Toggle Switch */
.switch {
    display: inline-block;
    width: 60px;
    height: 34px;
    position: relative;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    pointer-events: none;
}

.sun-icon {
    left: -30px;
    color: #ffcc00;
    display: none; /* Initially hidden */
}

.moon-icon {
    left: -30px;
    color: #f1c40f;
}

/* Show sun icon in dark mode */
body.dark-mode .sun-icon {
    display: inline;
}

body.dark-mode .moon-icon {
    display: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .switch {
        width: 50px;
        height: 30px;
    }

    .slider:before {
        height: 22px;
        width: 22px;
        left: 4px;
        bottom: 4px;
    }

    .sun-icon, .moon-icon {
        font-size: 18px;
    }

    .sun-icon {
        left: -25px;
    }

    .moon-icon {
        left: -25px;
    }
}

@media (max-width: 480px) {
    .switch {
        width: 40px;
        height: 24px;
    }

    .slider:before {
        height: 20px;
        width: 20px;
        left: 2px;
        bottom: 2px;
    }

    .sun-icon, .moon-icon {
        font-size: 16px;
    }

    .sun-icon {
        left: -20px;
    }

    .moon-icon {
        left: -20px;
    }
}

/* responsive for top nav bar*/
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
}
/* Responsive Adjustments for Mobile */
/* Responsive Adjustments for Mobile */
@media (max-width: 768px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align the elements */
        padding: 10px 15px;
        position: relative; /* To ensure absolute positioning of the toggle button works */
    }

    .logo {
        font-size: 1.5rem;
        margin-bottom: 10px; /* Add space between logo and links */
        text-align: center; /* Ensure text is centered */
    }

    #toggleSidebarButton {
        position: absolute;
        top: 10px;
        left: 10px;
        height: 35px;
        width: 35px;
    }

    .nav-links {
        display: flex;
        justify-content: center; /* Center the links horizontally */
        gap: 15px; /* Space between the links */
        width: 100%;
        margin-bottom: 10px; /* Add space below the links */
    }

    .nav-links a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.3s ease;
    }

    .nav-links a:hover {
        color: #4a98f7;
    }

    .switch {
        position: absolute;
        top: 10px;
        right: 10px;
        transform: translate(0, 0); /* Reset any previous transform */
    }
}



/* Spinner */
.spinner {
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#backButton {
    margin-top: 0.2rem;
    display: none; /* Initially hidden */
}

#scrollToTopButton {
    display: none; /* Initially hidden */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    opacity: 0.7;
    background-color: var(--scrollToTopButton);
    border-radius: 40px;
    color: var(--text-color);
    border: none;
    padding: 10px;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

#scrollToTopButton:hover {
    opacity: 1;
    background-color: var(--button-hover-bg);
    border-radius: 40px;
}

/* Lesson menu and content */
.lesson-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    align-items: flex-start; /* Align items to the start */
}

.lesson-menu button {
    background: var(--button-bg);
    color: var(--text-color);
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure buttons take full width */
    text-align: left; /* Align text to the left */
}

.lesson-menu button:hover {
    background-color: var(--button-hover-bg);
    transform: translateY(-2px);
}

.lesson-content {
    margin-top: 20px;
    background-color: var(--lesson-content-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--lesson-content-shadow);
}

.lesson-content img {
    display: block;
    width: 100%;
    max-width: 100%; /* Ensure it doesn't exceed container width */
    height: auto;
    border: 1px solid var(--img-border-color);
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .lesson-menu {
        flex-direction: column;
        align-items: center;
    }
}
