<nav class="nav">
    <button id="toggleSidebarButton" class="btn btn-secondary" onclick="toggleSidebar()"> </button>
    <a href="#" class="logo">Horizon Learners</a>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
    <label class="switch">
        <input type="checkbox" id="darkModeToggle" />
        <span class="slider round"></span>
        <span class="icon sun-icon">&#x2600;</span>
        <span class="icon moon-icon">&#x1F319;</span>
    </label>
</nav>